<header class = 'nav' >
  <nav class = 'nav-menu'>
    {{ if .IsHome }}
        <!--<div class = 'nav-brand nav_item'></div>-->
        <span class = 'nav-brand nav_item'>&nbsp;</span>
    {{ else }}
        <a href='{{ absURL "" }}' class = 'nav-brand nav_item'>{{ .Site.Title }}</a>
    {{ end }}
    <div class = 'nav_bar-wrap'>
      <div class="nav_bar-btn"></div>
      <!--<div class = 'nav_bar'></div>-->
    </div>
  </nav>
</header>
